// --------------------
// Global Variables
// --------------------
$global-font-size: 16px;
$font-family-barlow:  'Barlow', sans-serif;
$font-family-darker:  'Darker Grotesque', sans-serif;
$font-family-arima:  'Arima Madurai', cursive;




// --------------------
// Global Colors
// --------------------
$color-bg-gray: #FAFAFA;
$color-text-black: #3c3c3c;
$color-border: rgba(60,60,60,0.2);
$color-black: #1C1C1C;
$color-xam: #E8E8E8;
// --------------------
$transition: $color-bg-gray .5s,$color-border .5s,$color-text-black .5s;


